@media screen and (max-width: 960px) {
    body{
        margin: 0 auto;
        max-width: 960px;
    }
    main{
        max-width: 960px;
    }
    .headarnav{
        padding: 10px 0;
    }
    section{

        padding: 10px 0;
    }


    .article-vic {
        max-width: 200px;
        padding:10px;
        margin: 10px;
    }
    div {
        padding: 10px;
        margin-top: 20px;

    }
    .imgIndex{
        width: 200px;
        height: 250px;
        padding: 10px;

    }
    footer {
        padding: 15px 0;
    }
}
@media screen and (max-width: 800px) {

    .article-vic {
        max-width: 200px;
        padding:10px;
        margin: 10px;
    }
div{
    padding: 10px;
    margin-top: 20px;

}
section{
    padding: 0;
}
.imgIndex{
    width: 200px;
    height: 250px;
    padding: 10px;

}
    nav#topmenu li {
        font-size: 20px;
        line-height: 20px;
        height: 20px;
        display: inline-block;
        padding-right:10px;
    }

    h1 {
        font-family: Play,sans-serif;
        font-size: 20px;
        text-align: center;
    }
    h3 {
        font-family: Lobster,sans-serif;
        font-size: 14px;
        text-align: right;
        padding: 15px;
    }
    footer {
        padding: 0;
    }
}
@media screen and (max-width: 620px) {



    .headarnav{
        justify-content: center;

    }
    nav#topmenu ul {
        list-style: none;

        text-align: center;

    }
    nav#topmenu li {
        font-size: 18px;
        background: rgba(76, 255, 155, 0.03);
        max-width: calc(100% - 10px);;
        display: block;

        padding-right:20px;
    }


    nav#topmenu a {
        display: block;
        flex-direction: column;
        max-width: 100%;

        order: 1;
        text-decoration: none;
        margin: 10px;
        padding: 10px;

    }
    .headerMain{
        display: flex;
        flex-direction: column;
       max-width: 100%;
        order: 2;

    }
    .headerSecond{
        display: flex;
        flex-direction: column;
        order: 3;
    }
    h1 {
        text-align: center;
        padding: 10px;
        margin-bottom: 10px;
    }
    h3{
        text-align: end;
    }
}

@media screen and (max-width: 480px)
{
body{
    background: none;
    margin: 0;
    padding: 0;
}
    main{
        margin: 0;
    }
    .headarnav{
        width: 100%;
        justify-content: center;
        float: none;
        padding: 0;
        margin: 0;

    }
    nav#topmenu ul {
        list-style: none;

        text-align: center;

    }
    nav#topmenu li {
        font-size: 18px;
        background: rgba(76, 255, 155, 0.03);

        display: block;


    }


    nav#topmenu a {
        display: block;
        flex-direction: column;
        width:100%;

        order: 1;
        text-decoration: none;



    }
    .headerMain{
        display: flex;
        flex-direction: column;
        justify-content: center;
        max-width:80%;
        padding: 0;
        margin: 0;
        order: 2;

    }
    .headerSecond{
        display: flex;
        max-width: 100%;
        flex-direction: column;
        justify-content: center;
        order: 3;
    }
    h1 {
        margin-top: 10px;
        font-size: 14px;
        text-align: center;
        padding: 20px;
        margin-bottom: 10px;
    }
    h3{
        font-size: 10px;
        text-align: end;
        padding: 10px;
    }
    section{
        justify-content: center;
        width: 100%;
        padding: 0;
        margin: 0;

    }
    .article-vic{
        padding: 0;
        margin: 0;
        max-width: 200px;
        text-align: center;
    }
    div{
        padding: 0;
        margin: 0;

        max-width:100%;

    }
    .imgIndex{
        width: 220px;
        height: 200px;
        margin-bottom: 10px;
        margin-top: 10px;
        border-radius: 10px;
        box-shadow: 5px 10px 20px;
    }

    figure {
        display: inline-flex;
        border: rgba(90, 255, 77, 0.03);
        flex-direction: row;
        margin:0;
        padding: 0;
        color: black;
        max-width: 80%;

    }
    .img3 {
        max-width: 80px;
        max-height: 70px;
        display: block;
        text-align: center;
        vertical-align:top;
        box-shadow: 5px 10px 20px;
        padding: 0;
        margin: 0;
    }
    p {
        font-size: 12px;
        color: black;
        padding: 0;
        margin: 0;
    }
    footer{
        display: flex;
        width: 100%;
        justify-content: center;
        padding: 0;
        margin: 0;
        vertical-align: bottom;
        color: #ffffff;
        background: linear-gradient(to right ,black,darkslategrey);
        box-shadow: 5px 10px 50px;
    }
    .spanFooter{
        display: inline-block;
        padding: 0;
        margin: 0;
        font-size: 12px;
    }
}
