@import url('https://fonts.googleapis.com/css?family=Lobster|Play');
@import url("https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css");
@import url('https://fonts.googleapis.com/css?family=Bad+Script|Open+Sans');
body {
    max-width:1024px;
    margin: 0 auto;
    padding: 0;
    background: url("image/1479146686_535_bridge-wallpaper.jpg") no-repeat;
    background-size: cover;
}

.headarnav{
    display: inline-flex;
    justify-content: center;
    flex-wrap: wrap;
    width:100%;
    background: url("image/hradar45.jpg");
    background-size: cover;
    margin-top:20px;
    box-shadow: 5px 10px 50px;
    padding: 15px;

}
nav#topmenu ul {
    list-style: none;

    text-align: center;
    padding: 0;
    margin: 0;
}
nav#topmenu li {
    font-size: 24px;
    line-height: 40px;
    height: 40px;
    display: inline-block;
    padding-right:20px;
}
nav#topmenu a {
    text-decoration: none;
    color: darkgreen;
}

nav#topmenu a:hover {
    color: rgba(255, 53, 32, 0.76);
}

h1 {
    font-family: Play,sans-serif;
    font-size: 25px;
    text-align: center;
    color: darkgreen ;
    padding: 10px;
    box-shadow: 15px 30px 70px;
}
h3 {
    font-family: Lobster,sans-serif;
    font-size: 18px;
    text-align: right;
    color: brown;
    padding: 10px;
    text-shadow: 5px 7px 7px;
}
main{
    max-width: 1024px;
}
section{
    color: black;
    display: inline-flex;
    flex-wrap: wrap;
    justify-content: center;
    width:100%;

    box-shadow: 5px 10px 50px;
    background: url("image/softuni-nakov.jpg") no-repeat;
    background-size: cover;
    align-content: center;
    margin-top: 20px;
    padding: 15px;
}


.article-vic {
    color: black;
    max-width:250px;

    vertical-align: top;
    padding:20px;
    margin: 15px;
    border-radius: 10px;
    box-shadow: 2px 5px 10px ;
    background: rgba(90, 255, 77, 0.74);
}
h1 a{
    text-decoration: none;
}

a:hover {
    color: rgba(255, 53, 32, 0.76);
}

p
{
    font-family: 'Bad Script', cursive;
    color: InfoText;
    color: rgba(0, 0, 0, 1);
    padding: 5px;
    font-weight: 900;
    font-size: 18px;
    box-shadow: 10px 20px 40px forestgreen;

}

figure {
    display: inline-block;
    border: rgba(90, 255, 77, 0.03);
    margin:0;
    padding: 0;
    color: black;

}
figcaption{
    background: rgba(0, 0, 0, 0.23);

}
.imgIndex{
    display: inline-block;
    flex-wrap: wrap;
    justify-content: center;
    flex-direction: column;
    width: 150px;
    height: 150px;
    margin: 10px;

    border-radius: 10px;
    box-shadow: 5px 10px 20px;
}

.img3 {
    display: block;
    vertical-align:top;
    max-width: calc(100% - 10px);
    max-height: calc(25% - 10px);
    border-radius: 10px;
    box-shadow: 5px 10px 20px;
    padding: 10px;
    margin: 10px;
}

footer{
    display: flex;
    width: 100%;
    flex-direction: column;
    padding:15px;
    max-width: 1024px;
    margin-top: 40px;
    margin-bottom: 20px;
    vertical-align: bottom;
    color: #ffffff;
    background: linear-gradient(to right ,black,darkslategrey);
    box-shadow: 5px 10px 50px;
}
.spanFooter{
    display: inline-block;
    padding: 25px 20px;
}
